<launch>
  <arg name="cmd_vel" default="/cmd_vel"/>
  <arg name="name" default="turtlebot3"/>

  <param name="cmd_vel_topic_name" value="$(arg cmd_vel)"/>

  <node name="$(arg name)_drive" pkg="drive" type="TB3Drive" required="true" output="screen"/>
  <node name="$(arg name)_lidar" pkg="sensor" type="CLidar" required="true" output="screen"/>
  <node name="$(arg name)_core" pkg="bot" type="CBot" required="true" output="screen"/>
</launch>
